<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/blogs.css">
</head>

<body>
    <header>
        <h1>Catch The Blog</h1>
    </header>
    <main>
        <section>
            <div class="link-container">
                <a href="/add-blog">Create blog</a>
            </div>
            <div class="blogs">
                <div class="blog">
                    <h2>01</h2>
                    
                    Heading-1
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum dolores voluptatum excepturi a. Dolor quia eaque aspernatur nihil illum quod earum, commodi mollitia maiores, reiciendis eos qui explicabo, fugiat nemo!</p>
                <a href="#">Explore</a>
                </div>
                <div class="blog">
                    <h2>02</h2>
                    
                    Heading-2
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi harum repellendus eligendi
                        praesentium, error quasi a, inventore quaerat ipsa beatae exercitationem? Excepturi tenetur,
                        alias laudantium assumenda ducimus facere neque magni!</p>
                        <a href="#">Explore</a>
                    </div>
                <div class="blog">
                    <h2>03</h2>
                    
                    Heading-3
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam obcaecati facere assumenda,
                        aspernatur est dicta aut id ipsam autem excepturi aliquid libero, dolores placeat pariatur quis!
                        Voluptatum, ullam necessitatibus. Ipsam.</p>
                        <a href="#">Explore</a>
                </div>
            </div>
        </section>
    </main>
</body>

</html>